/* color var */
:root {
  --corPrincipal: #3e2400;
  --corSecundaria: #1c1000;
  --corTerciarida: #726551;

  --cor1: #6c5435;
  --cor2: #85715a;
  --cor3: #a68560;
  --cor4: #908c7c;
}
/* size VAR */
:root {
  --height100vh: 100vh;
  --width100pcent: 100%;
}
/* font - style */
@font-face {
  font-family: "ASKR";
  src: url(../Fontes/Donau\ Neue_Uppercase.otf);
}
/* reset pattern */
* {
  margin: 0;
  padding: 0;
}
/* background color */
section:nth-child(odd) {
  background-color: var(--corPrincipal);
  color: var(--cor3);
  height: var(--height100vh);
  min-width: var(--width100pcent);
}
section:nth-child(even) {
  background-color: var(--corSecundaria);
  color: var(--cor3);
}
/* header */

#header {
  width: var(--width100pcent);
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
#header > img {
  object-fit: cover;
  flex: 1 1 250px;
  transform: scale(0.3, 0.3);
  transition: 0.5s;
  width: var(--width100pcent);
}
@media (max-width: 1000px) {
  #header > img {
    transition: 0.5s;
    transform: scale(0.5, 0.5);
  }
}
/*** WHO WE ARE ***/
#whoWeAre {
  height: 100%;
}
p {
  margin: 0 0 0 15px;
}
.tittle h1 {
  display: flex;
  justify-content: center;
  padding: 0.25em 0 0 0;
  font-weight: normal;
  font-size: 2.5em;
  font-family: "ASKR";
}
.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-left img {
  justify-content: center;
  margin: 15px;
  flex: 2;
  min-width: 15em;
  min-height: 25em;
  padding: 0 20px 20px 20px;
  height: 10vh;
  border-bottom: 1px solid var(--cor3);
  border-right: 1px solid var(--cor3);
}
.img-right img {
  justify-content: center;
  margin: 15px;
  flex: 1;
  min-width: 15em;
  min-height: 15em;
  max-width: 15vw;
  max-height: 15vh;
  padding: 0 20px 20px 20px;
  border-bottom: 1px solid var(--cor3);
  border-left: 1px solid var(--cor3);
}
@media (max-width: 537px) {
  .img-right > img {
    justify-content: flex-start;
  }
}
.text {
  flex: 1;
  max-width: 60vw;
  min-width: 11em;
  padding: 0 15px 0 15px;
  font-family: "ASKR";
}
.text > h1 {
  margin: 15px 0 0 0;
  border-top: 1px solid var(--corPrincipal);
}
@media (max-width: 537px) {
  .body {
    justify-content: center;
  }
}

/* WERE WE ARE */
#mapa {
  display: flex;
  flex: 1;
  margin: 0 5px 0 15px;
  justify-content: center;
}
iframe {
  width: 90vw;
  height: 20em;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid var(--corSecundaria);
}
.endereco {
  width: var(--width100pcent);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "ASKR";
  font-size: 1.3em;
}
.endereco > hr {
  width: 10%;
  border: 1px solid var(--corSecundaria);
}
